
<ng-container *ngFor="let header of headers">
    <th (click)="onHeaderClick(header.key)">
    <div class="flex items-center space-x-1 cursor-pointer">
        <span>{{ header.label }}</span>
        <span class="flex flex-col">
        <svg
            [ngClass]="{
            'text-gray-400': sortedBy !== header.key || sortDirection !== 'asc',
            'text-blue-500': sortedBy === header.key && sortDirection === 'asc'
            }"
            class="w-4 h-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
        </svg>
        <svg
            [ngClass]="{
            'text-gray-400': sortedBy !== header.key || sortDirection !== 'desc',
            'text-blue-500': sortedBy === header.key && sortDirection === 'desc'
            }"
            class="w-4 h-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
        </span>
    </div>
    </th>
</ng-container>
<th>Actions</th>