<section class="bg-white rounded-lg shadow-lg p-4">
    <div #chartContainer class="p-4">
        <ngx-charts-bar-horizontal
            [view]="view"
            [scheme]="colorScheme"
            [results]="chartData"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [trimYAxisTicks]="false"> 
        >
        </ngx-charts-bar-horizontal>
    </div>
</section>  