<div class="flex items-center py-1">
    <app-toggle-collapse-button
        [collapsed]="collapsed"
        (toggleClicked)="onToggleCollapse()">
    </app-toggle-collapse-button>

    <input 
        #keyInput
        [value]="keyName"
        [readonly]="!editing"
        (blur)="onRename(keyInput.value)"
        (keydown.enter)="keyInput.blur()"
        [ngClass]="{
        'font-medium text-gray-700 bg-transparent px-1 focus:outline-none': true,
        'border-2 border-[#019b98]': editing,
        'border-b border-black': !editing
        }"
    />

    <app-edit-icon
        class="ml-2 mt-1 cursor-pointer"
        [size]="16"
        [color]="editing ? '#cccccc' : '#007bff'" 
        (click)="onStartEdit()">
    </app-edit-icon>

    <app-delete-icon 
        class="ml-2 mt-1" 
        [size]="16" 
        [color]="'#ef4444'" 
        (click)="onDelete()">
    </app-delete-icon>

    <button *ngIf="canSwitch" (click)="onSwitchType()" class="ml-2 px-2 py-1 text-xs bg-blue-500 text-white rounded hover:bg-blue-600">
        Switch Type
    </button>
  </div>  