<div *ngIf="expCat$ | async as yearlyData; " class="grid gap-4 lg:grid-cols-6">
    <div class="text-red-500 text-3xl font-extrabold tracking-tight col-span-1 text-center">
        Inkomsten
    </div>
    <div class="text-red-500 text-3xl font-extrabold tracking-tight col-span-1 text-center">
        Uitgaven
    </div>

    <app-pie-chart [data]="incCat$ |async" class="col-span-1 row-start-2"></app-pie-chart>
    <app-pie-chart [data]="yearlyData" class="col-span-1 row-start-2"></app-pie-chart>

    <app-display-card [amount]="1000" title="Inkomsten" class="col-span-1 row-start-3"></app-display-card>
    <app-display-card [amount]="1000" title="Uitgaven" trend="down" class="col-span-1 row-start-3"></app-display-card>
    <app-display-card [amount]="1000" title="Gespaard" trend="down" class="col-span-1 row-start-3"></app-display-card>

    <section *ngIf="monthlyChartSummary$ | async as yearlyData; else missing" class="row-span-3 col-span-3">
    <ng-container *ngIf="yearlyData.length > 0; else missing">
        <app-expense-income-line-chart [data]="yearlyData"></app-expense-income-line-chart>
    </ng-container>
    </section>

    <ng-template #missing>
        <app-missing-files></app-missing-files>
    </ng-template>

</div>
