<div class="min-h-dvh">
	<main>
		<header>
			<app-greetings></app-greetings>
		</header>

		<app-date-picker
			[start]="startDate()"
			[end]="endDate()"
			(startChange)="startDate.set($event)"
			(endChange)="endDate.set($event)"
		>
		</app-date-picker>

		<app-tablist
			[tabs]="tabs"
			[(selectedIndex)]="selectedIndex"
		>
		</app-tablist>

		<section>
			<ng-container *ngIf="tabs[selectedIndex] as tab">
				<ng-container 
					*ngComponentOutlet="tab.component; 
					inputs: { avg$, monthlySummary$, expCat$, incCat$ }">
				</ng-container>
			</ng-container>
		</section>
	</main>
</div>
