<div class="bg-red ml-[270px]"> 
    <div class="container mx-auto mt-8">
        <div class="overflow-x-auto">
          <table class="min-w-full table-auto bg-white shadow-md rounded-lg">
            <thead class="bg-gray-200">
              <tr>
                <th class="px-4 py-2 text-left">IBAN/BBAN</th>
                <th class="px-4 py-2 text-left">Munt</th>
                <th class="px-4 py-2 text-left">BIC</th>
                <th class="px-4 py-2 text-left">Volgnr</th>
                <th class="px-4 py-2 text-left">Datum</th>
                <th class="px-4 py-2 text-left">Rentedatum</th>
                <th class="px-4 py-2 text-left">Bedrag</th>
                <th class="px-4 py-2 text-left">Saldo na trn</th>
                <th class="px-4 py-2 text-left">Tegenrekening IBAN/BBAN</th>
                <th class="px-4 py-2 text-left">Naam tegenpartij</th>
                <th class="px-4 py-2 text-left">Omschrijving-1</th>
                <th class="px-4 py-2 text-left">Omschrijving-2</th>
                <th class="px-4 py-2 text-left">Omschrijving-3</th>
              </tr>
            </thead>
            <tbody class="text-gray-700">
              <tr>
                <td class="border px-4 py-2">NL25RABO0347258441</td>
                <td class="border px-4 py-2">EUR</td>
                <td class="border px-4 py-2">RABONL2U</td>
                <td class="border px-4 py-2">3555</td>
                <td class="border px-4 py-2">2024-08-13</td>
                <td class="border px-4 py-2">2024-08-13</td>
                <td class="border px-4 py-2">-12,79</td>
                <td class="border px-4 py-2">+1578,76</td>
                <td class="border px-4 py-2">NL65ADYB2006011162</td>
                <td class="border px-4 py-2">NENT Group International AB</td>
                <td class="border px-4 py-2">NENT Group International AB Viaplay d633096a-be9a-490f-9598-3d8e9545f0b4</td>
                <td class="border px-4 py-2"></td>
                <td class="border px-4 py-2"></td>
              </tr>
              <tr>
                <td class="border px-4 py-2">NL25RABO0347258441</td>
                <td class="border px-4 py-2">EUR</td>
                <td class="border px-4 py-2">RABONL2U</td>
                <td class="border px-4 py-2">3556</td>
                <td class="border px-4 py-2">2024-08-13</td>
                <td class="border px-4 py-2">2024-08-13</td>
                <td class="border px-4 py-2">-9,95</td>
                <td class="border px-4 py-2">+1568,81</td>
                <td class="border px-4 py-2">DE86210700200123010101</td>
                <td class="border px-4 py-2">Zalando Payments GmbH</td>
                <td class="border px-4 py-2">Zalando Plus abonnement 10202166945984 ZB 011518875948</td>
                <td class="border px-4 py-2"></td>
                <td class="border px-4 py-2"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
