<ng-container *ngIf="!isLoading; else loading">
    <div class="container mt-4 mx-4">
        <div class="mb-4">
            <app-default-button [buttonName]="'Overview'"></app-default-button>
            <app-default-button [buttonName]="'Upload'"></app-default-button>
        </div>
        
        <ng-container *ngIf="hasData; else noData">
            <app-search-bar (search)="onSearch($event)"></app-search-bar>
            <app-classification-overview></app-classification-overview>
            <app-csv-table #csvTable></app-csv-table>
        </ng-container>


        <ng-template #noData>
            <app-missing-files></app-missing-files>
        </ng-template>
    </div>
</ng-container>

<ng-template #loading></ng-template>