<!-- Transaction Id -->
<td>{{ transaction.transactionsId }}</td>
<!-- Account -->
<td *ngIf="!isEditing()">{{ transaction.account }}</td>
<td *ngIf="isEditing()"><input [(ngModel)]="editingTransaction!.account"></td>
<!-- Recipient -->
<td *ngIf="!isEditing()">{{ transaction.recipient }}</td>
<td *ngIf="isEditing()"><input [(ngModel)]="editingTransaction!.recipient"></td>
<!-- Description -->
<td *ngIf="!isEditing()">{{ transaction.description }}</td>
<td *ngIf="isEditing()"><input [(ngModel)]="editingTransaction!.description"></td>
<!-- Classification -->
<td [ngClass]="{
        'text-red-700': transaction.classificationSource === 0,
        'text-green-600': transaction.classificationSource === 1,
        'text-yellow-600': transaction.classificationSource === 2,
        'text-orange-600': transaction.classificationSource === 3
    }">
    {{ classificationLabels[transaction.classificationSource] }}
</td>
<!-- Category -->
<td [ngClass]="{ 'bg-yellow-100': ruleBasedColoring[transaction.transactionsId] }">
    <ng-container *ngIf="!isEditing()">
        {{ transaction.category }}
    </ng-container>
    <ng-container *ngIf="isEditing()">
        <div class="relative">
          <input
            type="text"
            class="category-input w-full"
            placeholder="Selecteer categorie"
            aria-label="Category"
            [matAutocomplete]="auto"
            [(ngModel)]="editingTransaction!.category"
          />
    
          <!-- Custom dropdown icon -->
          <div class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>
    
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of classificationsCategories | filterCategories:(categoryControl.value || '')" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </ng-container>
</td>
<!-- Amount -->
<td *ngIf="!isEditing()">{{ transaction.amount | currency:'EUR' }}</td>
<td *ngIf="isEditing()"><input type="number" [(ngModel)]="editingTransaction!.amount"></td>
<!-- Date -->
<td *ngIf="!isEditing()">{{ transaction.date | date }}</td>
<td *ngIf="isEditing()"><input type="date" [(ngModel)]="editingTransaction!.date"></td>
<!-- Actions -->
<td>
    <a *ngIf="!isEditing()" class="edit" (click)="edit.emit()">Edit</a>
    <ng-container *ngIf="isEditing()">
    <a class="save" (click)="save.emit()">Save</a>
    <a class="cancel" (click)="cancel.emit()">Cancel</a>
    </ng-container>
</td>