
<!-- Material Spinner -->
<div *ngIf="isLoading" >
    <div class="flex flex-col gap-4 p-4 flex-wrap items-center text-center">
        <img class="w-20 h-20 animate-spin" src="https://www.svgrepo.com/show/70469/loading.svg" alt="Loading icon">
        <p>Loading.....</p>
    </div>
</div>
  
<table *ngIf="!isLoading">
    <thead>
        <tr>
            <tr>
                <ng-container *ngFor="let header of headers">
                  <th
                    (click)="sortData(header.key)"
                  >
                    <div class="flex items-center space-x-1">
                      <span>{{ header.label }}</span>
                      <span class="flex flex-col">
                        <svg
                        [ngClass]="{
                          'text-gray-400': sortedColumn !== header.key || sortDirection !== 'asc',
                          'text-blue-500': sortedColumn === header.key && sortDirection === 'asc'
                        }"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        class="w-4 h-4"
                      >
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
                      </svg>
                      
                      <svg
                        [ngClass]="{
                          'text-gray-400': sortedColumn !== header.key || sortDirection !== 'desc',
                          'text-blue-500': sortedColumn === header.key && sortDirection === 'desc'
                        }"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        class="w-4 h-4"
                      >
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                      </svg>
                      
                      </span>
                    </div>
                  </th>
                </ng-container>
              </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.transactions_id }}</td>
            <!-- Account -->
            <td *ngIf="!editingTransaction || editingTransaction.transactions_id !== transaction.transactions_id">
                {{ transaction.account }}
            </td>
            <td *ngIf="editingTransaction && editingTransaction.transactions_id === transaction.transactions_id">
                <input [(ngModel)]="editingTransaction.account">
            </td>
            <!-- Recipient -->
            <td *ngIf="!editingTransaction || editingTransaction.transactions_id !== transaction.transactions_id">
                {{ transaction.recipient }}
            </td>
            <td *ngIf="editingTransaction && editingTransaction.transactions_id === transaction.transactions_id">
                <input [(ngModel)]="editingTransaction.recipient">
            </td>
            <!-- Description -->
            <td *ngIf="!editingTransaction || editingTransaction.transactions_id !== transaction.transactions_id">
                {{ transaction.description }}
            </td>
            <td *ngIf="editingTransaction && editingTransaction.transactions_id === transaction.transactions_id">
                <input [(ngModel)]="editingTransaction.description">
            </td>
            <!-- Amount -->
            <td *ngIf="!editingTransaction || editingTransaction.transactions_id !== transaction.transactions_id">
                {{ transaction.amount | currency:'EUR' }}
            </td>
            <td *ngIf="editingTransaction && editingTransaction.transactions_id === transaction.transactions_id">
                <input type="number" [(ngModel)]="editingTransaction.amount">
            </td>
            <!-- Date -->
            <td *ngIf="!editingTransaction || editingTransaction.transactions_id !== transaction.transactions_id">
                {{ transaction.date | date }}
            </td>
            <td *ngIf="editingTransaction && editingTransaction.transactions_id === transaction.transactions_id">
                <input [(ngModel)]="editingTransaction.date" type="date">
            </td>

            <!-- Actions -->
            <td>
                <a *ngIf="!editingTransaction || editingTransaction.transactions_id !== transaction.transactions_id"
                    class="edit"
                    (click)="editTransaction(transaction)">Edit</a>
                <a *ngIf="editingTransaction && editingTransaction.transactions_id === transaction.transactions_id"
                    class="save"
                    (click)="saveTransaction()">Save</a>
                <a *ngIf="editingTransaction && editingTransaction.transactions_id === transaction.transactions_id"
                    class="cancel"
                    (click)="cancelEdit()">Cancel</a>
            </td>
        </tr>              
    </tbody>
</table>