<div class="container mx-auto mt-8">
    <div class="mb-4">
        <app-default-button [buttonName]="'Overview'" (click)="setActiveSection('overview')"></app-default-button>
        <app-default-button [buttonName]="'Upload'" (click)="setActiveSection('upload')"></app-default-button>
    </div>
    <div *ngIf="activeSection === 'overview'" class="mt-8">
        <ng-container *ngIf="this.getData(); else noData">
            <app-search-bar></app-search-bar>
            <app-csv-table></app-csv-table>
        </ng-container>
        <ng-template #noData>
            <app-missing-files></app-missing-files>
        </ng-template>
    </div>
    <div *ngIf="activeSection === 'upload'" class="mt-8">
        <app-csv-upload></app-csv-upload>
    </div>
</div>