<button 
  (click)="onToggleClick()" 
  class="w-6 h-6 flex items-center justify-center rounded-md mr-2 hover:bg-gray-100 transition-colors"
  [class.text-[#019b98]]="!collapsed"
  [class.text-gray-400]="collapsed"
>
  <span class="transform transition-transform" [class.rotate-90]="collapsed">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" 
      stroke="#019b98" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="m6 9 6 6 6-6"/>
    </svg>
  </span>
</button>