<div class="main-content">
  <header>
    <app-greetings></app-greetings>
  </header>

  <section class="grid grid-cols-4 gap-4 mt-4">
    <app-display-card></app-display-card>
    <app-display-card></app-display-card>
  </section>

  <section class="financial-overview">
    <h2>Financial Overview</h2>
    <ngx-charts-bar-vertical
      [view]="[700, 400]"

      [results]="financialData"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [xAxisLabel]="'Month'"
      [showYAxisLabel]="true"
      [yAxisLabel]="'Amount (€)'"
    ></ngx-charts-bar-vertical>
  </section>

  <section class="quick-links">
    <h2>Quick Links</h2>
    <ul>
      <li>Account Details</li>
      <li>Project</li>
      <li>Financial Forecast</li>
      <li>Money & Cashflow Overview</li>
    </ul>
  </section>
</div>
