:root {
    --primary-100: #019b98;
    --primary-200: #55ccc9;
    --primary-300: #c1ffff;
    --accent-100: #dd0025;
    --accent-200: #ffbfab;
    --text-100: #014e60;
    --text-200: #3f7a8d;
    --bg-100: #fbfbfb;
    --bg-200: #f1f1f1;
    --bg-300: #c8c8c8;
  }
  
  .sidebar {
    background-color: var(--primary-100);
    padding: 20px;
    width: 250px;
    height: 100vh;
    position: fixed;
  }
  
  .user-profile {
    color: var(--accent-100);
  }
  
  .sign-out {
    background-color: var(--accent-100);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .main-content {
    margin-left: 270px;
    padding: 20px;
  }
  
  .accounts,
  .transactions {
    background-color: var(--bg-200);
    padding: 20px;
    border-radius: 10px;
    width: 45%;
  }
  
  .financial-overview,
  .quick-links {
    background-color: var(--bg-200);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  