<div class="main-content flex flex-row">
	<header>
		<app-greetings></app-greetings>
	</header>

	<!-- <section class="grid grid-cols-4 gap-4 mt-4">
	<app-display-card></app-display-card>
	<app-display-card></app-display-card>
	</section> -->

	
	<app-expense-income-line-chart [data]="monthlySummary$"></app-expense-income-line-chart>

	<app-summary-table [data]="monthlySummary$"></app-summary-table>
	
	<ng-container *ngIf="chartHasData; else noData">
	</ng-container>

	<ng-template #noData>
		<app-missing-files></app-missing-files>
	</ng-template>
</div>
