.btn {
    @apply 
    rounded-md 
    bg-[#55ccc9]
    py-2 
    px-4 
    border 
    border-transparent 
    text-center 
    text-sm 
    text-white 
    transition-all 
    shadow-md 
    select-none

    hover:shadow-lg 
    focus:bg-[#019b98]
    focus:shadow-none 
    active:bg-[#019b98]
    hover:bg-[#019b98]
    active:shadow-none 
    disabled:pointer-events-none 
    disabled:opacity-50 
    disabled:shadow-none ml-2
    font-outfit
    text-lg;
}
